# https://www.dartlang.org/tools/private-files.html

# files and directories created by pub
build/
pubspec.lock
.packages
.pub/

# API documentation directory created by dartdoc
doc/api/

# files and directories created by other development environments
*.iml
*.ipr
*.iws
.idea/
.DS_Store

# generated JavaScript files
*.dart.js
*.info.json
*.js
*.js_
*.js.deps
*.js.map

# emacs
*~
\#*\#

.vscode

config.yaml