# Files and directories created by pub
.packages
.pub/
build/
# Remove the following pattern if you wish to check in your lock file
pubspec.lock
.vscode/
# Directory created by dartdoc
doc/api/
build/
pubspec.lock
.packages
.pub/
doc/api/
*.iml
*.ipr
*.iws
.idea/
.DS_Store
*.dart.js
*.info.json
*.js
*.js_
*.js.deps
*.js.map

bin/probnik.dart
